name: Build for pushes and PR

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - .github/workflows/build-push-pr.yml
      - .github/workflows/build-for-release.yml
      - README.md
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - .github/workflows/build-push-pr.yml
      - .github/workflows/build-for-release.yml
      - README.md
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'
          cache: 'gradle'
      - name: Make Gradle Runnable
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew jar
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: tpagui-output-jar
          path: build/libs/*.jar